<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on rails tutorials sample app | <%= @title%> </title>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<%= yield %> <!-- Code responsible for inserting the contents of each page into layout-->
	</body>
</html>

<!-- This is comment in HTML-->
<!-- -->